kind: Deployment
apiVersion: apps/v1
metadata:
  name: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-git
  template:
    metadata:
      labels:
        app: demo-git
    spec:
      containers:
        - name: demo-git
          image: 'docker.io/busybox:latest'
          command:
          - sleep
          - inf
          env:
          - name: TEST
            value: AAABBB
